{%extends "layout.html"%}


{%block css%}
../static/entrada.css
{%endblock%}

{%block content%}
  <!-- Primera Parte del Index -->
  <div class="container-fluid">
      <div class="image">
        <img src="../static/index.png">
      </div>
      <h1 class="text">Trabaja, estudia y desarrolla tu carrera profesional</h1>
      <div class="texto">
        <p class="texto_inicio">Desde nuestra plataforma, buscamos apoyar tu crecimiento profesional conectándote con
          empleadores que necesitan de tu talento.</p>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../static/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Encuentra pasantias</h3>
              <p class="card-text">JobMatchUp permite a los usuarios buscar pasantías en diferentes empresas, organizaciones o instituciones y aplicar en línea para participar en el proceso de selección. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/card2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Demuestra tu aprendizaje</h3>
              <p class="card-text">La plataforma ofrece herramientas  que permitan a los usuarios demostrar sus conocimientos y habilidades a otros miembros de la comunidad.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/card3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Conecta con otros usuarios</h3>
              <p class="card-text">JobMatchUp permite a los usuarios conectarse con otros miembros de la comunidad, ya sean empleadores u otros estudiantes.</p>
            </div>
          </div>
        </div>
    <!-- Segunda Parte del Index -->
  </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>¿Y vos?¿Qué esperas para unirte?</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Instagram</a></li>
            <li class="list-inline-item"><a href="#">Facebook</a></li>
            <li class="list-inline-item"><a href="#">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
{%endblock%}