<!Doctype html>
<html lang="En">

<head>
  <title>Inicio</title>
  <link rel="icon" type="image/x.icon" href="ing.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/paginainicio.css">
</head>

<body class="degradado">
  <nav class="navbar navbar-expand-xl" style="background-color: #13678A;">
    <div class="container-fluid d-flex justify-content-between">
      <div>
        <a class="navbar-brand" href="#" style="color: #ffffff">JobMatchUp</a>
      </div>
      <div>
        <form class="d-flex">
          <div class="input-group">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn buscar" type="submit">search</button>
          </div>
        </form>
      </div>
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic"
          aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarBasic">
          <ul class="navbar-nav ms-auto mb-2 mb-xl-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="publicaciones">
--
    
    <div class="tarjeta">
      <div class="titulo">Nombre de la empresa</div>
      <div class="cuerpo">
        <img src="/static/ing.png" alt="muestra" id="imagen" class="col-5 col-sm-4">
      </div>
      <div>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="pie">
          <a href="#">Aplicar</a>
        </div>
      </div>
    </div>
  </div>
  --
  <div class="publicaciones">
    <div class="tarjeta">
      <div class="titulo">Nombre de la empresa</div>
      <div class="cuerpo">
        <img src="/static/ing.png" alt="muestra" id="imagen" class="col-5 col-sm-4">
      </div>
      <div>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="pie">
          <a href="#">Aplicar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="publicaciones">
    <div class="tarjeta">
      <div class="titulo">Nombre de la empresa</div>
      <div class="cuerpo">
        <img src="/static/ing.png" alt="muestra" id="imagen" class="col-5 col-sm-4">
      </div>
      <div>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="pie">
          <a href="#">Aplicar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="publicaciones">
    <div class="tarjeta">
      <div class="titulo">Nombre de la empresa</div>
      <div class="cuerpo">
        <img src="/static/ing.png" alt="muestra" id="imagen" class="col-5 col-sm-4">
      </div>
      <div>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="pie">
          <a href="#">Aplicar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="publicaciones">
    <div class="tarjeta">
      <div class="titulo">Nombre de la empresa</div>
      <div class="cuerpo">
        <img src="/static/ing.png" alt="muestra" id="imagen" class="col-5 col-sm-4">
      </div>
      <div>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="pie">
          <a href="#">Aplicar</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>